= form_for @tag do |f|
  - if @tag.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tag.errors.count, "error")} prohibited this tag from being saved:"
      %ul
        - @tag.errors.full_messages.each do |msg|
          %li= msg

  .field.form-inline.m-b
    .field.input-group.w-f
      %span.input-group-addon.gray-bg ＃
      = f.text_field :name, :class => "form-control", :placeholder => ""

  .actions
    = f.submit 'Save', :class => "btn btn-primary btn-block"
