<div class="middle-box text-center loginscreen animated fadeInDown p-t">
  <div class="ibox float-e-margins">
  <div class="ibox-title">
    <h5>Log in</h5>
  </div>
  <div class="ibox-content">
    <div class="row">
      <div class="col-sm-12">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Enter email' %>
          </div>
          <div class="form-group">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password' %>
          </div>
          <div>
            <%= f.submit "Log in", class: 'btn btn-sm btn-primary pull-right m-t-n-xs', style: 'font-weight: bold;' %>
            <label class="">
            <div class="icheckbox_square-green" style="position: relative;">
              <%= f.check_box :remember_me, style: 'position: absolute; opacity: 0;', class: 'i-checks' %>
              <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins>
            </div> Remember me </label>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
