= form_for @expense do |f|
  - if @expense.errors.any?
    #error_explanation
      %h2= "#{pluralize(@expense.errors.count, "error")} prohibited this expense from being saved:"
      %ul
        - @expense.errors.full_messages.each do |msg|
          %li= msg

  .field.form-inline
    .col-my-4
      .form-group
        %select.form-control{:name => "expense[paid_at_year]"}
          - (@now_year - 1).upto(@now_year + 1) do |i|
            %option{:selected => i == @now_year}= i
    .col-my-4
      .form-group
        %select.form-control{:name => "expense[paid_at_month]"}
          - month = [*1..12]
          - (@now_month - 7).upto(@now_month + 4) do |i|
            %option{:selected => month[i % 12] == @now_month}= month[i % 12]
    .col-my-4
      .form-group
        %select.form-control{:name => "expense[paid_at_day]"}
          - day = [*1..31]
          - (@now_day - 16).upto(@now_day + 14) do |i|
            %option{:selected => day[i % 31] == @now_day}= day[i % 31]
    .col-my-6
      .form-group
        %select.form-control{:name => "expense[paid_at_ampm]"}
          - if @now_oclock < 12 then
            %option{:selected => true}= "AM"
            %option= "PM"
          - else
            %option= "AM"
            %option{:selected => true}= "PM"
    .col-my-6
      .form-group
        %select.form-control{:name => "expense[paid_at_oclock]"}
          - oclock = [*1..12]
          - (@now_oclock % 12 - 7).upto(@now_oclock % 12 + 4) do |i|
            - if @now_oclock == 0 || @now_oclock == 12 then
              %option{:selected => oclock[i % 12] == 12}= oclock[i % 12]
            - else
              %option{:selected => oclock[i % 12] == @now_oclock % 12}= oclock[i % 12]

  .field.input-group
    %span.input-group-addon.gray-bg ￥
    = f.number_field :amount, :class => "form-control", :placeholder => "How much?"

  .field.input-group.m-b
    %span.input-group-addon.gray-bg ＃
    %select.form-control#expense_tag{:name => "expense[tag]"}
      %option
      - @tags.each do |tag|
        - if !@expense.tag.nil? && @expense.tag == tag.name
          %option{:selected => "selected"}
            = tag.name
        - else
          %option
            = tag.name

  .actions
    = f.submit 'Save', :class => "btn btn-primary btn-block"
