#small-chat
  %a.open-small-chat
    %i.fa.fa-line-chart

.dashboard.animated.fadeInDown
  .row
    .col-lg-5
      .ibox.float-e-margins
        .ibox-title
          %h5 New Expense
        .ibox-content
          = render 'form'
    .col-lg-7
      .ibox.float-e-margins
        .ibox-title
          %h5 Summary
        .ibox-content
          %canvas#lineChart{:height => 144}

    .col-lg-12
      .ibox.float-e-margins
        .ibox-title
          %h5 Recent Expenses
        .ibox-content
          %table.table.table-striped
            %tbody
              - @expenses.each do |expense|
                %tr
                  %td= expense.paid_at.strftime("%m/%d %p %I")
                  %td= "#" + expense.tag
                  %td= "¥" + expense.amount.to_s
                  %td
                    %i= link_to '', edit_expense_path(expense), :class => "fa fa-pencil"



:javascript
  $(function () {
    var lineData = {
      labels: #{@graph_xaxis},
      datasets: [{
        backgroundColor: 'rgba(26,179,148,0.5)',
        borderColor: "rgba(26,179,148,0.7)",
        pointBackgroundColor: "rgba(26,179,148,1)",
        pointBorderColor: "#fff",
        data: #{@graph_yaxis}
      }]
    };
    var lineOptions = {
      responsive: true,
      legend: {
        display: false
      },
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true
          }
        }]
      }
    };
    var ctx = document.getElementById("lineChart").getContext("2d");
    new Chart(ctx, {type: 'bar', data: lineData, options: lineOptions});
  });
