.graphColumns.animated.fadeInDown
  .ibox.float-e-margins
    .ibox-content
      .flot-chart
        .flot-chart-content#flot-bar-chart{:style => "padding: 0px; position: relative;"}


.middle-box.text-center.loginscreen.animated.fadeInDown
  .ibox.float-e-margins
    .ibox-content
      = render 'form'

.listColumns.animated.fadeInDown
  .ibox.float-e-margins
    .ibox-content
      %table.table.table-striped
        %tbody
          - @expenses.each do |expense|
            %tr
              %td= expense.paid_at.strftime("%m/%d %p %I")
              %td= "#" + expense.tag
              %td= "¥" + expense.amount.to_s
              %td
                %i= link_to '', edit_expense_path(expense), :class => "fa fa-pencil"

#small-chat
  %a.open-small-chat
    %i.fa.fa-line-chart

:javascript
  $(function() {
    var barOptions = {
      series: {
        bars: {
          show: true,
          barWidth: 0.6,
          fill: true,
          fillColor: {
            colors: [{
              opacity: 0.8
            }, {
              opacity: 0.8
            }]
          }
        }
      },
      xaxis: {

      },
      colors: ["#1ab394"],
      grid: {
        color: "#999999",
        hoverable: true,
        clickable: true,
        tickColor: "#D4D4D4",
        borderWidth:0
      },
      legend: {
        show: false
      },
      tooltip: true,
      tooltipOpts: {
        content: "x: %x, y: %y"
      }
    };
    var barData = {
      label: "bar",
      data: #{@graph}
    };
    $.plot($("#flot-bar-chart"), [barData], barOptions);
  });
