%p#notice= notice
%p
  %b paid_at
  = @expense.paid_at
%p
  %b Amount:
  = @expense.amount
%p
  %b Tag:
  = @expense.tag

= link_to 'Edit', edit_expense_path(@expense)
\|
= link_to 'Back', expenses_path
